@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200&display=swap');

@media screen and (min-width: 900px) {
  body {
    background:#f8edeb;
    font-family: 'Tajawal', sans-serif;
    align-content: center;

  }
  img {
  height: 75px;
  width: 75px;
  object-fit: cover;
}
.product:hover{
    height: 80px;
    width: 80px;
  }
}

@media screen and (min-width: 1200px) {
  body {
    background:#f8edeb;
    font-family: 'Tajawal', sans-serif;
    align-content: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  img{
    height: 100px;
    width: 100px; 
    object-fit: cover;
  }

  .product:hover{
    height: 105px;
    width: 105px;
  }
  /* .product-pics {
    width: 50%;
    height: 50%;
  }

  .shade-pics{
    width: 50%;
    height: 50%;
  }

  .application-pics{
    width: 50%;
    height: 50%;
  } */
}

@media screen and (min-width: 600px) {
  body {
    background:#f8edeb;
    font-family: 'Tajawal', sans-serif;
    align-content: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  img{
    height: 50px;
    width: 50px; 
    object-fit: cover;
  }

  .product:hover{
    height: 55px;
    width: 55px;
  }

  /* .product-pics {
    width: 100%;
    height: 100%;
  }

  shade-pics{
    width: 50%;
    height: 50%;
  }

  .application-pics{
    width: 50%;
    height: 50%;
  } */
}

body {
    background:#f8edeb;
    font-family: 'Tajawal', sans-serif;
    align-content: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 25px;
}

/* .product-pics {
  width: 100%;
  height: 100%;
}

shade-pics{
  width: 100%;
  height: 100%;
}

.application-pics{
  width: 100%;
  height: 100%;
} */

img{
    height: 100px;
    width: 100px; 
    object-fit: cover;
}

.product:hover{
    height: 105px;
    width: 105px;
  }

a{
  text-decoration: none;
  color: black
}

button{
  font-family: 'Tajawal', sans-serif;
  border: 2px solid #ffd7ba;
  border-radius: 2px;
  font-size: 85%;
  cursor: pointer;
  padding: 5px;
  background-color: #ffd7ba;
  text-align: center;
}


